.wrapper {
  width: 100%;
  background-color: #f6f6f7;
  margin-top: auto;
  padding: 20px 60px;
  border-top: 1px solid #e1e1e1;
}

.row {
  display: flex;
  margin-bottom: 20px;
}

.text {
  margin-left: 4px;
  font-weight: 400;
  color: #181a2a;
}
