* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  &:after,
  &:before {
    box-sizing: border-box;
  }
  &:focus {
    outline: none;
  }
}

html {
  font-size: 16px;
  padding: env(safe-area-inset-top) env(safe-area-inset-right)
    env(safe-area-inset-bottom) env(safe-area-inset-left);
  position: relative;
  overflow: hidden;
}

html,
body {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  font-family: "Wix Madefor Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: 16px;
}

.advanced-cropper {
  background: rgb(var(--primary-light-color)) !important;
}
